#flexDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    overflow: auto;
}
#leftSide {
    width: 25%;
    height: 100%;
    align-content: center;

}
#rightSideDiv {
    width: 75%;
    height: 100%;
}
#top {
    width: 100%;
    height: 25%;
    background-color: red;
}
#console {
    width: 100%;
    height: 75%;
}
.container {
    width: 100%;
    height: 10%;
}
